.nav{
  display: flex;
  gap: 50px;
  list-style-type: none;

}
.brands-section {
  max-width: 1200px;
  margin: auto;
}

.brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.brands-header h2 {
  font-size: 28px;
  color: #111;
  font-weight: 600;
}

.view-all {
  color: #444;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.view-all:hover {
  color: #000;
}

.brands-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.brand-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  flex: 0 0 250px;
  padding: 20px;
  text-align: left;
  /* transition: transform 0.3s ease; */
}

.brand-card:hover {
  transform: translateY(-5px);
}

.brand-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.brand-card h4 {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

.brand-card p {
  color: #333;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
}
.Footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;           
  margin-top: 40px;     
  padding: 0;  
}         
.Footer1 > div img {
  display: flex;
  width: 30px;         
  height: 30px;;
  margin-bottom: 15px;
}
.Footer1 > div h5 {
  
  font-size: 18px;
  margin-bottom: 8px;
  color: #fff;              
}
.y{
  display: flex;

}
.Footer2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 60px;
    gap: 40px;
}
.z{
  display: flex;
  gap: 30px;
}
.z div ul{
  list-style-type: none;

}